<div class="jumbotron" style="padding:45px 0px; color: azure; background-color: royalblue">
  <h4 class="text-center" style="font-weight: bold; font-style: italic; font-size: larger" >To Do List App</h4>
  <p class="text-center" style="font-style: italic">Add your tasks for today, good luck completing them! ; )</p>
</div>

<div class="input-group">
  <input type="text" class="form-control" #itemTitle>
  <div class="input-group-addon hover-cursor" (click)="onAdd(itemTitle)" style="background-color: white">
    <i class="fa fa-plus-circle fa-2x"></i>
  </div>
</div>

<div style="margin:5px 0px">
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let item of toDoListArray">
      <span class="hover-cursor" [class.text-success]="item.isChecked" (click)="alterCheck(item.$key,item.isChecked)">
        <i class="fa fa-lg" [ngClass]="item.isChecked?'fa-check-circle-o':'fa-circle-thin'"></i>
      </span>
      {{item.title}}
      <span class="hover-cursor text-danger pull-right" (click)="onDelete(item.$key)">
        <i class="fa fa-trash-o fa-lg"></i>
      </span>
    </li>
  </ul>
</div>
